 {% extends "admin/base.html.twig" %}

 {% block body %}

 	<div class="container">
 		<h1 class="text-center">Créer un nouveau centre</h1>
 		
 		{{ include ('admin/centre/_form.html.twig', {button: 'Créer'}) }}

 	</div>

 {% endblock %}
