<table style="width: 746.05pt; border-collapse: collapse; border: none; margin-left: 5.25pt; margin-right: 5.25pt;" width="1243">
	<tbody>
		<tr style="height: 14.4pt;">
			<td style="width: 274.45pt; border: solid windowtext 1.0pt; background: #9CC2E5; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="457">
				<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">CATEGORIE DE VEHICULE</span>
				</p>
			</td>
			<td style="width: 65.5pt; border: solid windowtext 1.0pt; border-left: none; background: #9CC2E5; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="109">
				<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">DROIT</span>
				</p>
			</td>
			<td style="width: 49.65pt; border: solid windowtext 1.0pt; border-left: none; background: #9CC2E5; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="83">
				<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">PV</span>
				</p>
			</td>
			<td style="width: 2.0cm; border: solid windowtext 1.0pt; border-left: none; background: #9CC2E5; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="95">
				<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">TVA 20%</span>
				</p>
			</td>
			<td style="width: 58.75pt; border: solid windowtext 1.0pt; border-left: none; background: #9CC2E5; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="98">
				<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">NET A PAYER</span>
				</p>
			</td>
			<td style="width: 241.0pt; border: solid windowtext 1.0pt; border-left: none; background: #9CC2E5; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="402">&nbsp;</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 505.05pt; border: solid windowtext 1.0pt; border-top: none; background: #002060; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" colspan="5" width="842">
				<p style="margin-bottom: .0001pt; line-height: normal;">
					<span style="font-size: 14.0pt; color: white;">VEHICULE A MOTEUR (ISOLE)</span>
				</p>
			</td>
			<td style="width: 241.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="402">&nbsp;</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 274.45pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="457">
				<p style="margin-bottom: .0001pt; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">PTAC &lt; 3,5</span>
				</p>
			</td>
			<td style="width: 65.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="109">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">45000</span>
				</p>
			</td>
			<td style="width: 49.65pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="83">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">2000</span>
				</p>
			</td>
			<td style="width: 2.0cm; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="95">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">9400</span>
				</p>
			</td>
			<td style="width: 58.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="98">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">56400</span>
				</p>
			</td>
			<td style="width: 241.0pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" rowspan="16" width="402">
				<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">Multiplier par le nombre des engins et/ou des v&eacute;hicules</span>
				</p>
			</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 274.45pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="457">
				<p style="margin-bottom: .0001pt; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">3,5&nbsp; T &le; PTAC &le; 7T</span>
				</p>
			</td>
			<td style="width: 65.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="109">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">90000</span>
				</p>
			</td>
			<td style="width: 49.65pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="83">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">2000</span>
				</p>
			</td>
			<td style="width: 2.0cm; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="95">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">18400</span>
				</p>
			</td>
			<td style="width: 58.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="98">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">110400</span>
				</p>
			</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 274.45pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="457">
				<p style="margin-bottom: .0001pt; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">7 T &le; PTAC &le; 10 T
					</span>
				</p>
			</td>
			<td style="width: 65.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="109">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">135000</span>
				</p>
			</td>
			<td style="width: 49.65pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="83">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">2000</span>
				</p>
			</td>
			<td style="width: 2.0cm; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="95">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">27400</span>
				</p>
			</td>
			<td style="width: 58.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="98">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">164400</span>
				</p>
			</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 274.45pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="457">
				<p style="margin-bottom: .0001pt; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">10 T &le; PTAC &le; 19 T</span>
				</p>
			</td>
			<td style="width: 65.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="109">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">225000</span>
				</p>
			</td>
			<td style="width: 49.65pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="83">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">2000</span>
				</p>
			</td>
			<td style="width: 2.0cm; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="95">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">45400</span>
				</p>
			</td>
			<td style="width: 58.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="98">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">272400</span>
				</p>
			</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 274.45pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="457">
				<p style="margin-bottom: .0001pt; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">19T &le; PTAC &le; 26 T</span>
				</p>
			</td>
			<td style="width: 65.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="109">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">270000</span>
				</p>
			</td>
			<td style="width: 49.65pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="83">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">2000</span>
				</p>
			</td>
			<td style="width: 2.0cm; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="95">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">54400</span>
				</p>
			</td>
			<td style="width: 58.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="98">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">326400</span>
				</p>
			</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 505.05pt; border: solid windowtext 1.0pt; border-top: none; background: #BFBFBF; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" colspan="5" width="842">&nbsp;</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 505.05pt; border: solid windowtext 1.0pt; border-top: none; background: #002060; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" colspan="5" width="842">
				<p style="margin-bottom: .0001pt; line-height: normal;">
					<span style="font-size: 14.0pt; color: white;">REMORQUE ET SEMI REMORQUE</span>
				</p>
			</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 274.45pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="457">
				<p style="margin-bottom: .0001pt; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">PTAC &lt; 3,5</span>
				</p>
			</td>
			<td style="width: 65.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="109">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">40500</span>
				</p>
			</td>
			<td style="width: 49.65pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="83">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">2000</span>
				</p>
			</td>
			<td style="width: 2.0cm; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="95">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">8500</span>
				</p>
			</td>
			<td style="width: 58.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="98">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">51000</span>
				</p>
			</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 274.45pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="457">
				<p style="margin-bottom: .0001pt; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">3,5&nbsp; T &le; PTAC &le; 7T</span>
				</p>
			</td>
			<td style="width: 65.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="109">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">81000</span>
				</p>
			</td>
			<td style="width: 49.65pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="83">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">2000</span>
				</p>
			</td>
			<td style="width: 2.0cm; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="95">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">16600</span>
				</p>
			</td>
			<td style="width: 58.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="98">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">99600</span>
				</p>
			</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 274.45pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="457">
				<p style="margin-bottom: .0001pt; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">7 T &le; PTAC &le; 10 T
					</span>
				</p>
			</td>
			<td style="width: 65.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="109">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">121000</span>
				</p>
			</td>
			<td style="width: 49.65pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="83">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">2000</span>
				</p>
			</td>
			<td style="width: 2.0cm; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="95">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">24600</span>
				</p>
			</td>
			<td style="width: 58.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="98">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">147600</span>
				</p>
			</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 274.45pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="457">
				<p style="margin-bottom: .0001pt; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">10 T &le; PTAC &le; 19 T</span>
				</p>
			</td>
			<td style="width: 65.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="109">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">202000</span>
				</p>
			</td>
			<td style="width: 49.65pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="83">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">2000</span>
				</p>
			</td>
			<td style="width: 2.0cm; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="95">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">40800</span>
				</p>
			</td>
			<td style="width: 58.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="98">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">244800</span>
				</p>
			</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 274.45pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="457">
				<p style="margin-bottom: .0001pt; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">19T &le; PTAC &le; 26 T</span>
				</p>
			</td>
			<td style="width: 65.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="109">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">243000</span>
				</p>
			</td>
			<td style="width: 49.65pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="83">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">2000</span>
				</p>
			</td>
			<td style="width: 2.0cm; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="95">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">49000</span>
				</p>
			</td>
			<td style="width: 58.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="98">
				<p style="margin-bottom: .0001pt; text-align: right; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">294000</span>
				</p>
			</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 505.05pt; border: solid windowtext 1.0pt; border-top: none; background: #BFBFBF; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" colspan="5" width="842">&nbsp;</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 274.45pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="457">
				<p style="margin-bottom: .0001pt; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">Motocyclettes, v&eacute;lomoteurs, cyclomoteurs (*), tricycles, quadricycles</span>
				</p>
			</td>
			<td style="width: 65.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="109">
				<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">20000</span>
				</p>
			</td>
			<td style="width: 49.65pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="83">
				<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">2000</span>
				</p>
			</td>
			<td style="width: 2.0cm; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="95">
				<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">4400</span>
				</p>
			</td>
			<td style="width: 58.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="98">
				<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">26400</span>
				</p>
			</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 505.05pt; border: solid windowtext 1.0pt; border-top: none; background: #BFBFBF; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" colspan="5" width="842">&nbsp;</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 274.45pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="457">
				<p style="margin-bottom: .0001pt; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">v&eacute;hicules et appareils agricoles ou forestiers, mat&eacute;riels de TP en engins sp&eacute;ciaux</span>
				</p>
			</td>
			<td style="width: 65.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="109">
				<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">75000</span>
				</p>
			</td>
			<td style="width: 49.65pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="83">
				<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">2000</span>
				</p>
			</td>
			<td style="width: 2.0cm; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="95">
				<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">15400</span>
				</p>
			</td>
			<td style="width: 58.75pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" width="98">
				<p style="margin-bottom: .0001pt; text-align: center; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">92400</span>
				</p>
			</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 746.05pt; border: solid windowtext 1.0pt; border-top: none; background: #BFBFBF; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" colspan="6" width="1243">&nbsp;</td>
		</tr>
		<tr style="height: 14.4pt;">
			<td style="width: 746.05pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 3.5pt 0cm 3.5pt; height: 14.4pt;" colspan="6" width="1243">
				<p style="margin-bottom: .0001pt; line-height: normal;">
					<span style="font-size: 14.0pt; color: black;">(*)r&eacute;ception pour constatation de la conformit&eacute; &agrave; la notice descriptive mais non pour immatriculation</span>
				</p>
			</td>
		</tr>
	</tbody>
</table>
