<div class="overflow-auto tarif_visite">

  <table id=" table-two-axis" class="two-axis table_tarif">
    <thead>
     <tr>
      <th class="text-center">categ</th>
      <th class="text-center">droit</th>
      <th class="text-center">pv</th>
      <th class="text-center">  tva </th>
      <th class="text-center">net à payer</th>
    </tr>
  </thead>
  <tbody>
    <tr><td> A- RECEPTION EN VUE IMMATRICULATION A MADAGASCAR</td><td> </td><td> </td><td></td><td></td></tr>
    <tr><td> 1°/ Véhicule à moteur (Isolé)</td><td> </td><td> </td><td></td><td></td></tr>
    <tr><td> PTAC < 3,5 T</td><td> 45 000</td><td> 4 000</td><td>9 800</td><td>58 800</td></tr>
    <tr><td> 3,5 T ≤ PTAC < 7 T</td><td> 90 000</td><td> 4 000</td><td>18 800</td><td>112 800</td></tr>
    <tr><td> 7 T ≤ PTAC < 10 T</td><td> 135 000</td><td> 4 000</td><td>27 800</td><td>166 800</td></tr>
    <tr><td> 10 T ≤ PTAC <19 T</td><td> 225 000</td><td> 4 000</td><td>45 800</td><td>274 800</td></tr>
    <tr><td> 19 T ≤ PTAC < 26 T</td><td> 270 000</td><td> 4 000</td><td>54 800</td><td>328 800</td></tr>
    <tr><td> </td><td> </td><td> </td><td></td><td></td></tr> 
    <tr><td> 2°/ Remorque et Semi-remorque</td><td> </td><td> </td><td></td><td></td></tr>
    <tr><td> 0,750 T<PTAC < 3,5 T</td><td> 40 500</td><td> 4 000</td><td>8 900</td><td>53 400</td></tr>
    <tr><td> 3,5 T ≤ PTAC < 7 T</td><td> 81 000</td><td> 4 000</td><td>17 000</td><td>102 000</td></tr>
    <tr><td> 7 T ≤ PTAC < 10 T</td><td> 121 000</td><td> 4 000</td><td>25 000</td><td>150 000</td></tr>
    <tr><td> 10 T ≤ PTAC <19 T</td><td> 202 500</td><td> 4 000</td><td>41 300</td><td>247 800</td></tr>
    <tr><td> 19 T ≤ PTAC < 26 T</td><td> 243 000</td><td> 4 000</td><td>49 400</td><td>296 400</td></tr>
    <tr><td> </td><td> </td><td> </td><td></td><td></td></tr> 
    <tr><td> 3°/ Motocyclettes, vélomoteurs, cyclomoteurs (*), tricycles quadricycles</td><td> 20 000</td><td> 4 000</td><td>4 800</td><td>28 800</td></tr>
    <tr><td> </td><td> </td><td> </td><td></td><td></td></tr> 
    <tr><td> 4°/ Véhicules et appareils agricoles ou forestiers, matériels de TP et engins spéciaux</td><td> 75 000</td><td> 4 000</td><td>15 800</td><td>94 800</td></tr>
    <tr><td> </td><td> </td><td> </td><td></td><td></td></tr> 
    <tr><td> B - VEHICULES DÉJÀ IMMATRICULES A MADAGASCAR</td><td> </td><td> </td><td></td><td></td></tr>
    <tr><td> Remplacement de cadre ou de coque</td><td> 45 000</td><td> 4 000</td><td>9 800</td><td>58 800</td></tr>
    <tr><td> Transformation de châssis (sur autorisation du constructeur)</td><td> 45 000</td><td> 4 000</td><td>9 800</td><td>58 800</td></tr>
    <tr><td> Changement de moteur</td><td> 45 000</td><td> 4 000</td><td>9 800</td><td>58 800</td></tr>
    <tr><td> Changement de nombre de places PTAC < 3,5 T (Sans transformation de genre ou de carrosserie)</td><td> 60 000</td><td> 4 000</td><td>12 800</td><td>76 800</td></tr>
    <tr><td> Changement de nombre de places PTAC ≥ 3,5 T (Sans transformation de genre ou de carrosserie)</td><td> 75 000</td><td> 4 000</td><td>15 800</td><td>94 800</td></tr>
    <tr><td> Transformation sans changement de genre</td><td> 113 000</td><td> 4 000</td><td>23 400</td><td>140 400</td></tr>
    <tr><td> Transformation entraînant changement de genre</td><td> 188 000</td><td> 4 000</td><td>38 400</td><td>230 400</td></tr>
    <tr><td> Erreur de transcription, discordance carte grise et véhicule (N° de série, énergie, puissance, PTAC, etc…)</td><td> 35 000</td><td> 4 000</td><td>7 800</td><td>46 800</td></tr>
    <tr><td> Perte de plaque du constructeur</td><td> 35 000</td><td> 4 000</td><td>7 800</td><td>46 800</td></tr>
    <tr><td> Pesage (tous véhicules)</td><td> 15 000</td><td> 4 000</td><td></td><td>15 000</td></tr>  

  </tbody>
</table>
</div>



{#     <h1> autre section </h1>

    <table id="table-two-axis" class="two-axis">
      <thead>
       <tr>
        <th class="text-center">categ</th>
        <th class="text-center">droit</th>
        <th class="text-center">pv</th>
        <th class="text-center">  tva </th>
        <th class="text-center">net à payer</th>
      </tr>
    </thead>
    <tbody>
      <tr><td> 1°/-Véhicule à moteur (isolé)</td><td> </td><td> </td><td></td><td></td></tr> 
      <tr><td> PTAC < 3,5 T</td><td> 45 000</td><td> 2 000</td><td>9 400</td><td>56 400</td></tr>
      <tr><td> 3,5 T ≤ PTAC < 7 T</td><td> 90 000</td><td> 2 000</td><td>18 400</td><td>110 400</td></tr> 
      <tr><td> 7 T ≤ PTAC < 10 T</td><td> 135 000</td><td> 2 000</td><td>27 400</td><td>164 400</td></tr>
      <tr><td> 10 T ≤ PTAC <19 T</td><td> 225 000</td><td> 2 000</td><td>45 400</td><td>272 400</td></tr> 
        <tr><td> 19 T ≤ PTAC < 26 T</td><td> 270 000</td><td> 2 000</td><td>54 400</td><td>326 400</td></tr>
        <tr><td> </td><td> </td><td> </td><td></td><td></td></tr> 
        <tr><td> 2°/- Remorque et Semi-remorque</td><td> </td><td> </td><td></td><td></td></tr>
        <tr><td> PTAC < 3,5 T</td><td> 40 500</td><td> 2 000</td><td>8 500</td><td>51 000</td></tr> 
        <tr><td> 3,5 T ≤ PTAC < 7 T</td><td> 81 000</td><td> 2 000</td><td>16 600</td><td>99 600</td></tr>
        <tr><td> 7 T ≤ PTAC < 10 T</td><td> 121 000</td><td> 2 000</td><td>24 600</td><td>147 600</td></tr> 
        <tr><td> 10 T ≤ PTAC <19 T</td><td> 202 000</td><td> 2 000</td><td>40 800</td><td>244 800</td></tr>
          <tr><td> 19 T ≤ PTAC < 26 T</td><td> 243 000</td><td> 2 000</td><td>49 000</td><td>294 000</td></tr> 
          <tr><td> </td><td> </td><td> </td><td></td><td></td></tr>
          <tr><td> 3°/- Motocyclettes, vélomoteurs, cyclomoteurs (*), tricycles, Quadricycles</td><td> 20 000</td><td> 2 000</td><td>4 400</td><td>26 400</td></tr> 
          <tr><td> </td><td> </td><td> </td><td></td><td></td></tr>
          <tr><td> 4°/- Véhicules et appareils agricoles ou forestiers, matériels de TP en engins spéciaux</td><td> 75 000</td><td> 2 000</td><td>15 400</td><td>92 400</td></tr>

        </tbody>
      </table> #}

