 <div class="page-title sp_" style="background-image: url('{{vich_uploader_asset(last_image, 'imageFile')  }}')">
 {# <div class="page-title sp_" style="background-image: url('{{ asset ('flattheme/img/dgsr/autres/centre.jpg') }}'); "> #}
  <div class=" text-center ">
    <div class="d-flex  justify-content-between m-0 p-0">

      <div  class="logo_dgsr" > 
        <img  src="{{ asset('flattheme/img/dgsr/logo/logo_dgsr.png') }}" alt="logo">
      </div>
      <div class="titre_dgsr">

        <h2>Direction Générale de la Sécurité Routière</h2>
      </div>
      <div  class="logo_gn" > 
        <img  src="{{ asset('flattheme/img/dgsr/logo/logo_gn.png') }}" alt="logo">
      </div>
    </div>
  </div>
</div>  