 <!-- Footer -->
 <footer>
    <div class="footer-top">
        <div class="container">
            <div class="container-fluid">   
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 footer-links wow fadeInUp">
                        <h3 class="display-6">Liens utiles</h3>
                        <ul class="list_link">
                            <li><a href="http://www.gendarmerie.gov.mg/" target="_blank">Gendarmerie Nationale </a></li>
                            <li><a href="http://www.mtpm.gov.mg/" target="_blank">Ministère Travaux publics</a></li>
                            <li><a href="http://www.transport.gov.mg/" target="_blank">Ministère des Transports et de la Météorologie</a></li>
                            <li><a href="http://www.mefb.gov.mg/" target="_blank">Ministère des Finances, des Economies et des Budgets</a></li>
                            <li><a href="http://www.policenationale.gov.mg/" target="_blank">Police Nationale</a></li>
                            <li><a href="http://www.transport.gov.mg/att/" target="_blank">Agence Terrestre de Transport</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 footer-contact wow fadeInDown">
                        <h3 class="display-6">Adresse et contact </h3>
                        <p>Direction Générale de la Sécurité Routière</p>
                        <p>Rue Ravoninahitriarivo</p>
                        <p>Alarobia Amboniloha - ANTANANARIVO</p>
                        <p><i class="fa fa-phone" ></i> OPS : 034 77 777 03</p>
                        <p><i class="fa fa-envelope-o" ></i>dgsrsrp@gmail.com</p>
                        <p class="link_fb" ><a href="https://www.facebook.com/DGSRMada/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>DGSR mada</a></p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 wow fadeInUp p-0" >
                        <iframe style="position: relative;" src="https://maps.google.com/maps?q=direction%20g%C3%A9n%C3%A9rale%20de%20la%20s%C3%A9curit%C3%A9%20routi%C3%A8re&t=&z=13&ie=UTF8&iwloc=&output=embed"  class="iframe_googlemap" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class=" footer-copyright">
                © Mai 2019 Copyright DGSR/SRP - All Rights Reserved.
            </div>
            <div class="col-md-6 footer-social">


            </div>
        </div>
    </div>
</footer>
