.dgsr{
	display: none;
}


.testimonial-area{

	padding-top: 50px;

}

.modal{
	min-height: 500px;
}
.portfolio-content h5{
	height: 38px;
	font-size: 16px;
	margin: 5px;
}
.single-portfolio{
	margin-bottom: 5px;

}
.single-portfolio .inner .portfolio-content{
	padding-top: 15px;

}

.modal-content {
	min-height: calc(75vh - 1rem);
	overflow: hidden;
}

.modal-xl {
	min-width: 1140px;
}

/*zoom image au survo dans section show actualité*/
/*slide*/
.main-wrapper {
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 0;
}

.actu_photos{

	float : left;
	clear : both;
	margin: 15px;
}

.btn_liste_actu{
	margin-top: 20px;
}

footer{
	margin-top: 15px;
}


/*
.content-box {
	width: 100%;
	padding-top: 100%;
	background-size: cover;
	position: absolute;
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.content-box:before {
	content: "";
	display: block;
	padding-top: 20%;
}
.content-box-expend {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 9;
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	}*/
/*.bg-one .content-box-expend {
	background: #fff;
	height: auto;
	top: 0;
	left: 0;
}
.bg-two .content-box-expend {
	background: #fff;
	height: auto;
	top: auto;
	left: 0;
	right: auto;
	bottom: 0;
}
.bg-three .content-box-expend {
	background: #fff;
	height: auto;
	top: 0;
	right: 0;
}
.bg-four .content-box-expend {
	background: #fff;
	height: auto;
	top: auto;
	left: auto;
	right: 0;
	bottom: 0;
	}
.content-box-expend:hover {
	width: 200%;
	height: auto;
	padding: 20px;
	z-index: 99;
}
.imageflottante {
	box-shadow: -3px 6px 11px rgba(69, 69, 69, 0.6);
	border: solid 6px #fff;
}
.content-box-expend:hover {
	width: 200%;
	height: auto;
	padding: 20px;
	z-index: 99;
	}*/

	.col-6{
		padding : 0;
	}
	.actu_photos{
		margin-right : 10px;
		margin-bottom: 10px;
	}

	/*media query pour responsive design*/

	/*extra large device*/
	@media (min-width: 1200px) {
		.actu_mobile_photo{
			display: none;
		}
		.modal-dialog{
			max-width: 1140px;
		}
		.card-container .card{
			height: 12.5vw;
		}
		.card-container .card:hover{
			max-height: 28vw;
		}



	}


	/* larges devices */

	@media  (min-width: 992px)and (max-width: 1199.98px) {

		.modal-dialog{
			max-width:  1000px;
		}
		.actu_mobile_photo{
			display: none;
		}
		.card-container .card{
			height: 18vw;
		}
		.card-container .card:hover{
			max-height: 32vw;
		}
	}

	/*  medium device(tablets) */
	@media (min-width: 768px) and (max-width: 991.98px) {

		.modal-dialog{
			max-width: 680px;
		}
		.actu_mobile_photo{
			display: none;
		}
		.card-container .card{
			height: 22vw;
		}
		.card-container .card:hover{
			max-height: 47vw;
		}
	}


	/* small device */
	@media (min-width: 576px) and (max-width: 767.98px) {

		.container-fluid .actu_photos{
			display: none;
		}
		.actu_mobile_photo{
			display: block;
		}
		.card-container .card{
			height: 30px;
		}
		.card-container .card:hover{
			max-height: 24vw;
		}

	}

	/*extra small device */
	@media (max-width: 575.98px) {


		.bg-two, .bg-three, .bg-four{
			display: none;
		}
		.modal-dialog{
			max-width: 400px;
		}
		.container-fluid .actu_photos{
			display: none;
		}
		.actu_mobile_photo{
			display: block;
		}
		.portfolio-content h5{
			font-size: 15px;
		}
		.card-container .card{
			height: 40vw;
		}
		.card-container .card:hover{
			max-height: 80vw;
		}

	}




	/*Responsive Card - start*/
	.card-container{
		position: relative;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		flex-direction: row;
		padding: 0;
		margin: 0;
	}

	.card-container .card{
		position: relative;
		max-width: 300px;
		min-width: 200px;
		height: 165px;
		background: rgba(99, 98, 100, 0.781);
		margin: 25px;
		margin-top: 45px;
		margin-bottom: 25px;
		padding: 5px;
		display: flex;
		flex-direction: column;
		box-shadow: 0 7px 7px 3px rgba(0, 0, 0, 0.212);
		transition: 1.8s ease-in;
	}

	.card-container .card:hover{
		height: 350px !important;
	}

	.card-container .card .imgBx{
		color: #ffffff;
		background: #386aef;
		position: relative;
		max-width: 325px;
		min-width: 225px;;
		height: 260px;
		top: -60px;
		left: -20px;
		z-index: 10;
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.185);
		border-radius: 4px;
	}

	.card-container .card .imgBx h4{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5px;
		color: #ffffff;
		line-height: 0.8;
		font-style: italic;
	}

	.card-container .card .imgBx img{
		max-width: 100%;
		box-shadow: -3px 6px 11px rgba(69, 69, 69, 0.6);
		border: solid 6px #fff;
	}

	.content{
		display: none;
		transition: 3.8s ease-in;
	}
	.card:hover .content{
		display: block;
	}
	.js-actu_show{
		text-align: center;
		display: none;
		color: #ffffff;
		transition: 5.8s ease-in;
	}
	.card:hover .js-actu_show {
		display: block;
	}

	.card-container .card .content h5{
		font-size: 1.3em;
		font-weight: bold;
	}

	.card-container .card .content p{
		padding: 0.9em;
	}

	/*Responsive Card - end*/

	.modal-content {

		background-color: transparent;
		padding:0 !important;
		margin:0  !important;
		border: 0px solid rgba(0, 0, 0, 0.2);


	}


	.close {
		float: right;
		height: 40px;
			margin: 0;
			width: 40px;
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		color: #ff0000;
		text-shadow: 0 1px 0 #fff;
		opacity: .9;
		background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
			background-image: linear-gradient(top, #f4f1ee, #fff);
		border-radius: 50%;
		box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
		width: 40px;
		-webkit-transition: all .1s linear;
			transition: all .1s linear;
	}
	.close:after{
			color:#e9e6e4;
			content: "✖";
			display: contents;
			text-align: center;
			font-size: 25px;
			height: 25px;
			width: 25px;
			text-decoration: none;
			text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
		}

	.close:hover {
		color: #000;
		background-color: #ff0000;
		border-radius: 50%;
		text-decoration: none;
	}
	.close:hover:after{
			color:#eb2f2f;
			text-shadow:0px 0px 6px #eb2f2f;
		}


	/*owl dots pour testimonial slider*/
	.testimonial-slider .owl-dots {
		display: inline-block;
		position: absolute;
		left: 50%;
		bottom: 20px;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.testimonial-slider .owl-dots .owl-dot {
		background-color: #fff;
		display: inline-block;
		width: 10px;
		height: 4px;
		margin: 0 3px;
		border-radius: 30px;
	}
	.testimonial-slider .owl-dots .owl-dot.active {
		width: 15px;
	}


	.testimonial-slider .owl-dots .owl-dot.active{
		background-color: #18a9e1;
	}


	.testimonial-slider .owl-dots .owl-dot {
		-webkit-transition: all 0.3s cubic-bezier(0.84, 0.35, 0.39, 0.74) 0s;
		transition: all 0.3s cubic-bezier(0.84, 0.35, 0.39, 0.74) 0s;
	}
