.card-header {
	background-color: rgba(0, 0, 0, 0);
}

.card-header h6{
	
	font-family: Comic Sans MS;
	color : rgba(1, 1, 1, 0.6);
}

.liste_centres  li  {
	list-style-type: none;
	text-align: center;
	/*border-bottom:1px solid rgba(0, 0, 0, 0.125);*/
	color : #AEB6BF;
}

.liste_centres li:last-child {

	border-bottom:1px solid rgba(0, 0, 0, 0);
}

.liste_centres  li:hover  {
	background-color: #EBF5FB;
	color : #DD953C;

	font-family: Georgia;
	font-size: 1.1em;
}

.liste_centres  li a  {
	
	color : gray;

}
.liste_centres  li a:hover  {
	color : #DD953C;

}

.liste_centres{
	padding: 0;
	.li_class a{
		padding: 0;
		margin: 0;

	}

}

.centre_actif{
	
	/*background-color : red;*/

	background-color: #EBF9FF;
	color : red;
	font-family: Georgia;
	font-size: 1.1em;
	text-shadow: 1px 1px 2px #DD953C;

}


.pressed_link{
	color: #333;
	border: 1px solid black;
}


/*style pour section detail centre*/
.label_cc{

	font-weight: bold;
} 

.label_adresse{

	font-weight: bold;
} 

.label_phone{

	font-weight: bold;
}

.image_centre{

	box-shadow: -3px 6px 11px rgba(69, 69, 69, 0.6);
	border: solid 6px #fff;

}