.dgsr{
	display: none;
}


/*media query pour responsive design*/

/*extra large device*/
@media (min-width: 1200px) {

	.desktop_title{
		display: block;
	}
	.mobile_title{
		display: none;
	}	
	

}


/* larges devices */

@media  (min-width: 992px)and (max-width: 1199.98px) {
	.desktop_title{
		display: block;
	}
	.mobile_title{
		display: none;
	}	

}

/*  medium device(tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.desktop_title{
		display: none;
	}
	.mobile_title{
		display: block;
	}	

}


/* small device */
@media (min-width: 576px) and (max-width: 767.98px) {

	.desktop_title{
		display: none;
	}
	.mobile_title{
		display: block;
	}	


}

/*extra small device */
@media (max-width: 575.98px) {

	.desktop_title{
		display: none;
	}
	.mobile_title{
		display: block;
	}	



}



