.dgsr{
    display: none;
}



/*media query pour responsive design*/

@media (max-width: 1368px) {


}




@media (max-width: 1024px) {
	.logo-column{
		display: none;
	}
	.dgsr{
		display: none;
	}

}

@media (max-width: 768px) {


}


@media (max-width: 600px) {


}