
.display-5{

	font-size: 2rem;
	font-weight: 200;
	line-height: 1;
}

.historique_texte li, .historique_texte p{
	color : #5b5b5b;
	text-align: justify;
}

/*DG successifs*/
.grade_dg{
	color: #5b5b5f;
	font-size: 0.8rem;

}
.nom_dg{

	font-size: 0.9em;
	/*font-weight: bold;*/

}

.periode_dg{
	font-size: 0.8rem;

}
.image_dg img{
	max-height: 170px;
}

.card-body{
	width: 181px;
	height: 77px; 
	padding-bottom: 0px;
}
/*media query pour responsive design*/


/*media query pour responsive design*/

@media (max-width: 1368px) {


}




@media (max-width: 1024px) {


}

@media (max-width: 768px) {


}


@media (max-width: 600px) {


}