.dgsr{
	display: none;
}


/*media query pour responsive design*/

/*extra large device*/
@media (min-width: 1200px) {

	

}


/* larges devices */

@media  (min-width: 992px)and (max-width: 1199.98px) {

}

/*  medium device(tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {


}
/* small device */
@media (min-width: 576px) and (max-width: 767.98px) {


	.single-faq h2{
		font-size: 20px;
		font-weight: 500;
		
	}

	.single-faq{
		padding: 5px;
		margin: 5px;
	}

	.container {
		padding: 0px;
		margin: 0 0 0 0;
	}
	.sp{
		padding: 5px;
	}

}

/*extra small device */
@media (max-width: 575.98px) {

	.single-faq h2{
		font-size: 20px;
		font-weight: 500;

	}

	.single-faq{
		padding: 5px;
		margin: 5px;
	}

	.container {
		padding: 0px;
		margin: 0px;
	}
	.sp{
		padding: 5px;
	}


}


