/*carousel mise en forme*/

.carousel-caption {
	text-align: center;
	text-shadow: 1px 1px 10px #000;
	/*background-color: gray;*/

}

/*positionner carousel caption en bas, en haut */
.hero-slider .inner{
	
	position:relative; 
	bottom:-220px;
}

/* misson et activite */
.mission_texte{
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 0.9em;
	text-align: justify;
	text-indent: 2em;
}
.mission_texte:hover{
	-webkit-animation: slidebloc 0.8s infinite;
}


.text-service{

	font-size: 1em;
	margin: 0;
}

.activite{
	text-align: center;

}

.activite:hover{
	background-color : #bae1ff;
}


.fa {
	color: #00abed;
	text-align: center;
}

.fa-bus, .fa-taxi, .fa-car, .fa-truck{
	font-size: 2.7em;
}


/*spot video*/
iframe{
	height: 400px;
	width: 600px;
	border: none;
}

/*directeur général*/

.photo_dg{
	width: 30%;
	height: 30%;
}


/*media query pour responsive design*/

/*extra large device*/
@media (min-width: 1200px) {

	

}


/* larges devices */

@media  (min-width: 992px)and (max-width: 1199.98px) {

}

/*  medium device(tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {

	.caroussel{
		display: none;
	}
}


/* small device */
@media (min-width: 576px) and (max-width: 767.98px) {

	/*custom flatdesign*/

	.caroussel{
		display: none;
	}
	.iframe_spot{
		text-align: center;
		position: relative;
		width: 600px;
		height: auto;
		border: 1px solid red;
	}
	/* section title */
	.section-title h2 {
		margin: 0 0 5px;
		font-size: 30px;
		font-weight: 600;
	}

}

/*extra small device */
@media (max-width: 575.98px) {

	.caroussel{
		display: none;
	}
	iframe{
		height: 200px;
		width: 300px;
		border: none;
	}
	.service-area{
		display: block;
	}
	



}



