.dgsr{
	display: none;
}

.single-service-2 .inner{
	padding: 40px 20px;
}

.single-service-2 .inner:hover{
	background-color : #18a8e0;
}


/*media query pour responsive design*/

/*extra large device*/
@media (min-width: 1200px) {

	

}


/* larges devices */

@media  (min-width: 992px)and (max-width: 1199.98px) {

}

/*  medium device(tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {


}


/* small device */
@media (min-width: 576px) and (max-width: 767.98px) {

	.single-service-2 .inner{
		padding: 20px 10px;
	}

}

/*extra small device */
@media (max-width: 575.98px) {

	.single-service-2 .inner{
		padding: 20px 10px;
	}

}
