.dgsr{
	display: none;
}

.single-service-2 .inner{
	padding: 40px 20px;
}

.single-service-2 .inner:hover{
	background-color : #18a8e0;
}

/*media query pour responsive design*/

@media (max-width: 1368px) {


}



@media (max-width: 1024px) {

	.logo-column{
		display: none;
	}
	.dgsr{
		display: none;
	}
}

@media (max-width: 768px) {


}


@media (max-width: 600px) {


}