/*navigation*/
nav{

	background-color: #1ba8e1;
}
.navbar{
	z-index : 100;
	top:0;
	width: 100%;
	

}

.navbar-brand{
	font-size: 2em;
	font-family: serif;
	color: #ffffff;
	font-weight: 400;
}
.navbar-brand:hover{
	color: blue;
}

.nav-item  {
	color: white;
}


.nav-item .nav-link{
	color: white;
}

.nav-item:hover{
	background-color: #68eaff;
	font-size: 1.2em;
}

.navbar{
	padding: 0 0 ;
}

.nav-item{

	padding: 0.5rem 0.5rem;
}

.actif{
	background-color :#1cb4f6;

}
.actif > a{
	font-color : #4682b4;
	font-weight: bold;
}


.sticky {
	box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
	position: fixed;
	top: 0;
	width: 100%;
	opacity: 0.3;
}
.sticky:hover{
	opacity: 1;

}

/* surchargement classe dropdown bootstrap */
.dropdown-menu{
	background-color : #1ca8e1;
}

.dropdown-menu>a{
	
	color: white; 
}


.dropdown-menu > a:hover{
/*	background-color: #68eaff;
color: blue;*/
background-color: #68eaff;
font-size: 1.2em;
}

.dropdown-item:hover{
	color : white;
}



.sticky{

	position : fixed;
	top : 0;
	width: 100%;
}

.active_menu{

	background-color: red;
	border: 1px solid black;

}

.nav-link{

	font-size: 1.1em;
}