/*la bannière*/
img{
	display : block; 
	height : auto;
	width : 100%;
}



/* missions */
/*@-webkit-keyframes slidebloc {
	0% {
		bottom: 20vh;
		left: 10vw;
	}
	25% {
		bottom: 30vh;
		left: 30vw;
	}
	50% {
		bottom: 35vh;
		left: 40vw;
	}
	75% {
		bottom: 40vh;
		left: 50vw;
	}
	100% {
		bottom: 50vh;
		left: 60vw;
	}
}

p{
	font-size: 1.2em;
	text-align: justify;
}

.act{
	width: auto;
	align-items: center;
	padding: auto;
}
@media (max-width: 1024px) {
	.act{
		width : 50vw;
	}
}
@media (max-width: 768px) {
	.act{
		width : 70vw;
	}
}


@media (max-width: 425px) {
	.act{
		width : 100vw;
	}
}
@media (max-width: 320px) {
	.act{
		width : 100vw;
	}
}
*/

