/*table de tarif visites*/

.tarif_visite{
	height: 500px;	
}

.tarif_reception{
	height: 500px;	
	
}

/*style pour tableau papier utiles visite technique*/
.table_papiers {
	background: white;
	border-collapse: collapse;
	margin: 1.25em 0 0;
	width: 100%;
	text-align: left;
}

.table_papiers th,
.table_papiers td {
	/*padding: 10px; */
	text-align: left;
}

.col3{

	padding-left: 30px; 
}

.col0{
	padding: 0px 0px 0px 10px ; 
	
}

.col1{

	padding: 0px 0px 0px 10px ; 

}


.col2{
	padding: 0px 0px 0px 10px ; 

}


.table_papiers th{

	padding: 5px;
	text-align: center;
}


/*tester carte rotate*/
.card:hover{
/*	-webkit-transform: rotate3d(180deg);
transform: rotate3d(0,1, 0, 180deg);*/
	/*transform: scale(1.4); zommer */

}
.card:hover .overlay {
	bottom: 0;
	height: 100%;

}

.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	opacity: 0.9;
	background-color: gray;
	overflow: hidden;
	width: 100%;
	height:0;
	transition: 0.8s ease-in-out;
}