/*
 * jQuery Basic Table
 * Author: Jerry Low
 */
 .table_tarif thead th { position: sticky; top: 0; }

 .table_tarif.bt thead,
 .table_tarif.bt tbody th {
  display: none;
}

.table_tarif.bt tfoot th,
.table_tarif.bt tfoot td,
.table_tarif.bt tbody td {
  border: none;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;

  /* IE 9 */
  float: left\9;
  width: 100%\9;
}

.table_tarif.bt tfoot th::before,
.table_tarif.bt tfoot td::before,
.table_tarif.bt tbody td::before {
  content: attr(data-th) ": ";
  display: inline-block;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  font-weight: bold;
  width: 6.5em;
}

.table_tarif.bt tfoot th.bt-hide,
.table_tarif.bt tfoot td.bt-hide,
.table_tarif.bt tbody td.bt-hide {
  display: none;
}

.table_tarif.bt tfoot th .bt-content,
.table_tarif.bt tfoot td .bt-content,
.table_tarif.bt tbody td .bt-content {
  vertical-align: top;
}

.bt-wrapper.active {
  max-height: 310px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.table_tarif.bt.bt--no-header tfoot td::before,
.table_tarif.bt.bt--no-header tbody td::before {
  display: none;
}
