 {% extends "admin/base.html.twig" %}

 {% block body %}

 	<div class="container">
 		<h1>Créer un nouveau ville</h1>

 		{{ include ('admin/ville/_form.html.twig', {button: 'Créer'}) }}

 	</div>

 {% endblock %}
