
<div class="overflow-auto tarif_visite" style=" max-height : 500px;">
  <table id="table-two-axis" class="two-axis table_tarif">
    <thead>
     <tr>
      <th class="text-center">Usage effectif des vehicules</th>
      <th class="text-center">Validité (mois)</th>
      <th class="text-center">Droit</th>
      <th class="text-center">Pv</th>
      <th class="text-center">Carte</th>
      <th class="text-center">Carnet</th>
      <th class="text-center">Tht</th>
      <th class="text-center">Tva</th>
      <th class="text-center">Net à payer</th>
    </tr>
  </thead>
  <tbody>
   <tr><td> VP</td><td>  0</td><td>  30 000</td><td> 2 000</td><td> -</td><td>    -</td><td>    32 000</td><td> 6 400</td><td> 38 400</td></tr>
   <tr><td> VP</td><td>  0</td><td>  30 000</td><td> 2 000</td><td> 2 000</td><td>-</td><td>    34 000</td><td> 6 800</td><td> 40 800</td></tr>

   <tr><td> VL</td><td>  0</td><td>  30 000</td><td> 2 000</td><td> -</td><td>    -</td><td>    32 000</td><td> 6 400</td><td> 38 400</td></tr>
   <tr><td> VL</td><td>  0</td><td>  30 000</td><td> 2 000</td><td> 2 000</td><td>-</td><td>    34 000</td><td> 6 800</td><td> 40 800</td></tr>
   <tr><td> VL</td><td>  0</td><td>  30 000</td><td> 2 000</td><td> -</td><td>    6 000</td><td>38 000</td><td> 7 600</td><td> 45 600</td></tr>
   <tr><td> VL</td><td>  0</td><td>  30 000</td><td> 2 000</td><td> 2 000</td><td>6 000</td><td>40 000</td><td> 8 000</td><td> 48 000</td></tr>

   <tr><td> VL<6plcs (VL6)</td><td>  0</td><td>  22 500</td><td> 2 000</td><td> -</td><td>    -</td><td>    24 500</td><td> 4 900</td><td> 29 400</td></tr>
   <tr><td> VL<6plcs (VL6)</td><td>  0</td><td>  22 500</td><td> 2 000</td><td> 2 000</td><td>-</td><td>    26 500</td><td> 5 300</td><td> 31 800</td></tr>
   <tr><td> VL<6plcs (VL6)</td><td>  0</td><td>  22 500</td><td> 2 000</td><td> -</td><td>    6 000</td><td>30 500</td><td> 6 100</td><td> 36 600</td></tr>
   <tr><td> VL<6plcs (VL6)</td><td>  0</td><td>  22 500</td><td> 2 000</td><td> 2 000</td><td>6 000</td><td>32 500</td><td> 6 500</td><td> 39 000</td></tr>

   <tr><td> TM3 - REM3 - SREM3 - TA - TMTPERS</td><td>  0</td><td>  9 000</td><td> 2 000</td><td> -</td><td>    -</td><td>    11 000</td><td> 2 200</td><td> 13 200</td></tr>
   <tr><td> TM3 - REM3 - SREM3 - TA - TMTPERS</td><td>  0</td><td>  9 000</td><td> 2 000</td><td> 2 000</td><td>-</td><td>    13 000</td><td> 2 600</td><td> 15 600</td></tr>
   <tr><td> TM3 - REM3 - SREM3 - TA - TMTPERS</td><td>  0</td><td>  9 000</td><td> 2 000</td><td> -</td><td>    6 000</td><td>17 000</td><td> </td><td> 20 400</td></tr>
   <tr><td> TM3 - REM3 - SREM3 - TA - TMTPERS</td><td>  0</td><td>  9 000</td><td> 2 000</td><td> 2 000</td><td>6 000</td><td>19 000</td><td> 3 800</td><td> 22 800</td></tr>

   <tr><td> VP300-TPP ≤ 25 plcs-TM6-RM6-SREM6</td><td>  0</td><td>  15 000</td><td> 2 000</td><td> -</td><td>    -</td><td>    17 000</td><td> 3 400</td><td> 20 400</td></tr>
   <tr><td> VP300-TPP ≤ 25 plcs-TM6-RM6-SREM6</td><td>  0</td><td>  15 000</td><td> 2 000</td><td> 2 000</td><td>-</td><td>    19 000</td><td> 3 800</td><td> 22 800</td></tr>
   <tr><td> VP300-TPP ≤ 25 plcs-TM6-RM6-SREM6</td><td>  0</td><td>  15 000</td><td> 2 000</td><td> -</td><td>    6 000</td><td>23 000</td><td> 4 600</td><td> 27 600</td></tr>
   <tr><td> VP300-TPP ≤ 25 plcs-TM6-RM6-SREM6</td><td>  0</td><td>  15 000</td><td> 2 000</td><td> 2 000</td><td>6 000</td><td>25 000</td><td> 5 000</td><td> 30 000</td></tr>

   <tr><td> TM7-TRR7-REM7-SREM7</td><td>  0</td><td>  22 500</td><td> 2 000</td><td> -</td><td>    -</td><td>    24 500</td><td> 4 900</td><td> 29 400</td></tr>
   <tr><td> TM7-TRR7-REM7-SREM7</td><td>  0</td><td>  22 500</td><td> 2 000</td><td> 2 000</td><td>-</td><td>    26 500</td><td> 5 300</td><td> 31 800</td></tr>
   <tr><td> TM7-TRR7-REM7-SREM7</td><td>  0</td><td>  22 500</td><td> 2 000</td><td> -</td><td>    6 000</td><td>30 500</td><td> 6 100</td><td> 36 600</td></tr>
   <tr><td> TM7-TRR7-REM7-SREM7</td><td>  0</td><td>  22 500</td><td> 2 000</td><td> 2 000</td><td>6 000</td><td>32 500</td><td> 6 500</td><td> 39 000</td></tr>

   <tr><td> TM10 - TRR10 - REM 10 - SREM 10</td><td>  0</td><td>  37 500</td><td> 2 000</td><td> -</td><td>    -</td><td>    39 500</td><td> 7 900</td><td> 47 400</td></tr>
   <tr><td> TM10 - TRR10 - REM 10 - SREM 10</td><td>  0</td><td>  37 500</td><td> 2 000</td><td> 2 000</td><td>-</td><td>    41 500</td><td> 8 300</td><td> 49 800</td></tr>
   <tr><td> TM10 - TRR10 - REM 10 - SREM 10</td><td>  0</td><td>  37 500</td><td> 2 000</td><td> -</td><td>    6 000</td><td>45 500</td><td> 9 100</td><td> 54 600</td></tr>
   <tr><td> TM10 - TRR10 - REM 10 - SREM 10</td><td>  0</td><td>  37 500</td><td> 2 000</td><td> 2 000</td><td>6 000</td><td>47 500</td><td> 9 500</td><td> 57 000</td></tr>

   <tr><td> TM 16 - TRR 16 - REM 16 - SREM 16</td><td>  0</td><td>  63 000</td><td> 2 000</td><td> -</td><td>    -</td><td>    65 000</td><td> 13 000</td><td> 78 000</td></tr>
   <tr><td> TM 16 - TRR 16 - REM 16 - SREM 16</td><td>  0</td><td>  63 000</td><td> 2 000</td><td> 2 000</td><td>-</td><td>    67 000</td><td> 13 400</td><td> 80 400</td></tr>
   <tr><td> TM 16 - TRR 16 - REM 16 - SREM 16</td><td>  0</td><td>  63 000</td><td> 2 000</td><td> -</td><td>    6 000</td><td>71 000</td><td> 14 200</td><td> 85 200</td></tr>
   <tr><td> TM 16 - TRR 16 - REM 16 - SREM 16</td><td>  0</td><td>  63 000</td><td> 2 000</td><td> 2 000</td><td>6 000</td><td>73 000</td><td> 14 600</td><td> 87 600</td></tr>

 </tbody>
</table>
</div>

