{% extends 'base.html.twig' %}

{% block title  'Changer de mot de passe'%}


{% block content %}

	<div class="container mt-5 mb-5 text-center">


<h4>Un email vous a été envoyé à l'adresse "dgsrsrp@gmail.com" pour réinitialiser votre mot de passe </h4>
</div>

{% endblock %}
