<div class="col-md-6 no-space">
	<div class="content-box bg-one">
		<div class="content-box-expend">
			<a class="content-box-title">
				<div class="content-box-icon">
					<img class="imageflottante" class="img-fluid img1 rounded mb-4" src="" alt="">
				</div> 
			</a>
		</div>
	</div>
</div>
<div class="col-md-6 no-space">
	<div class="content-box bg-two">
		<div class="content-box-expend">
			<a class="content-box-title">
				<div class="content-box-icon">
					<img class="imageflottante" class="img-fluid img2 rounded mb-4" src="" alt="">
				</div>
			</a>
		</div>
	</div>
</div>
<div class="col-md-6 no-space">
	<div class="content-box bg-three">
		<div class="content-box-expend">
			<a class="content-box-title">
				<div class="content-box-icon">
					<img class="imageflottante" class="img-fluid img3 rounded mb-4" src="" alt="">
				</div>
			</a>
		</div>
	</div>
</div>
<div class="col-md-6 no-space">
	<div class="content-box bg-four">
		<div class="content-box-expend">
			<a class="content-box-title">
				<div class="content-box-icon">
					<img class="imageflottante" class="img-fluid img4 rounded mb-4" src="" alt="">
				</div>
			</a>
		</div>
	</div>
</div>
</div>


<div class="bg-one">	
	<img class="imageflottante" class="img-fluid img1 rounded mb-4" src="" alt="">
</div>
</div>
<div class="col-6">
	<div class="bg-two">	
		<img class="imageflottante" class="img-fluid img2 rounded mb-4" src="" alt="">
	</div>
</div>
<div class="col-6">
	<div class="bg-three">	
		<img class="imageflottante" class="img-fluid img3 rounded mb-4" src="" alt="">
	</div>
</div>
<div class="col-6">
	<div class="bg-four">	
		<img class="imageflottante" class="img-fluid img4 rounded mb-4" src="" alt="">
	</div>
</div>