{% extends 'base.html.twig' %}
{% block stylesheets %} 

	<link rel="stylesheet" type="text/css" href="{{ asset( 'css/organigramme.css')}}">

	{%endblock%}
	{% block title %}Accueil{% endblock %}


		{% block content %}
			<div class="page-title sp" style="background-image: url(assets/img/dgsr/autres/controle1.png)">
				<div class="container text-center">
					<h2>Direction Générale de la Sécurité Routière</h2>
					<p>Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
				</div>
			</div>  
			
			<div class="faq-area-2 sp">
				<div class="container">
					<div class="single-faq">
						{% for org in org %}
							{% if org.filename %}
								<img style="width : 100%" class="card-img-top" src="{{ vich_uploader_asset(org, 'imageFile') }}" alt="organigramme de la DGSR">
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>

			{%endblock%}

			{% block javascripts %}

				<script src="{{ asset('js/jquery-1.12.4.min.js') }}"></script>
				<script src="{{ asset('js/caroussel_card.js') }}"></script>
			{% endblock %}


