 {% extends "admin/base.html.twig" %}

 {% block body %}

 	<div class="container">
 		<h1>créer un nouveau directeur</h1>

 		{{ include ('admin/dgword/_form.html.twig', {button: 'Créer'}) }}

 	</div>

 {% endblock %}
