

<table id="table-two-axis" class="two-axis table_tarif">
  <thead>
   <tr>
    <th class="text-center">categ</th>
    <th class="text-center">droit</th>
    <th class="text-center">pv</th>
    <th class="text-center">  tva </th>
    <th class="text-center">netapayer</th>
  </tr>
</thead>
<tbody>
  <tr><td> 1°/-Véhicule à moteur (isolé)</td><td class="text-center"> </td><td class="text-center">  </td><td class="text-center"> </td><td class="text-center"> </td></tr>
  <tr><td> 3,5 T ≤ PTAC < 7 T</td><td class="text-center"> 90 000</td><td class="text-center">  2 000</td><td class="text-center"> 18 400</td><td class="text-center"> 110 400</td></tr>
  <tr><td> 7 T ≤ PTAC < 10 T</td><td class="text-center"> 150 000</td><td class="text-center">  2 000</td><td class="text-center"> 30 400</td><td class="text-center"> 182 400</td></tr>
  <tr><td> 10 T ≤ PTAC <19 T</td><td class="text-center"> 210 000</td><td class="text-center">  2 000</td><td class="text-center"> 42 400</td><td class="text-center"> 254 400</td></tr>
  <tr><td> 19 T ≤ PTAC < 26 T</td><td class="text-center"> 270 000</td><td class="text-center">  2 000</td><td class="text-center"> 54 400</td><td class="text-center"> 326 400</td></tr>
  <tr><td> 2°/- Remorque et Semi-remorque</td><td class="text-center"> </td><td class="text-center">  </td><td class="text-center"> </td><td class="text-center"> </td></tr>
  <tr><td> 3,5 T ≤ PTAC < 7 T</td><td class="text-center"> 81 000</td><td class="text-center">  2 000</td><td class="text-center"> 16 600</td><td class="text-center"> 99 600</td></tr>
  <tr><td> 7 T ≤ PTAC < 10 T</td><td class="text-center"> 135 000</td><td class="text-center">  2 000</td><td class="text-center"> 27 400</td><td class="text-center"> 164 400</td></tr>
  <tr><td> 10 T ≤ PTAC <19 T</td><td class="text-center"> 189 000</td><td class="text-center">  2 000</td><td class="text-center"> 38 200</td><td class="text-center"> 229 200</td></tr>
  <tr><td> 19 T ≤ PTAC < 26 T</td><td class="text-center"> 243 000</td><td class="text-center">  2 000</td><td class="text-center"> 49 000</td><td class="text-center"> 294 000</td></tr>  

</tbody>
</table>


