
<div class=" overflow-auto" style="height : 450px;">

	

	<table class="table_tarif">

		<tr><td>TV </td><td>Véhicule particulier </td></tr>
		<tr><td>VP300 </td><td>Véhicule particulier  </td></tr>
		<tr><td>TM3 </td><td>Transport de marchandises moins de 03T </td></tr>
		<tr><td>TMTP </td><td>Transport de marchandises pouvant transporter du personnel </td></tr>
		<tr><td>TM6 </td><td>Transport de marchandises de 3T à 6,999T </td></tr>
		<tr><td>TM7 </td><td>Transport de marchandises de 7T à 9,999T </td></tr>
		<tr><td>TM10 </td><td>Transport de marchandises de 10T à 15,999T </td></tr>
		<tr><td>TM16 </td><td>Transport de marchandises de 16T et plus </td></tr>
		<tr><td>TR7 </td><td>Tracteur Routier de 7T à 9,999T </td></tr>
		<tr><td>TR10 </td><td>Tracteur Routier de 10T à 15,999T </td></tr>
		<tr><td>TR16 </td><td>Tracteur Routier de 16T et plus </td></tr>
		<tr><td>SR10 </td><td>Semi-Remorque de 10T à 15,999T </td></tr>
		<tr><td>SR16 </td><td>Semi-Remorque de 16T et plus </td></tr>
		<tr><td>R7 </td><td>Remorque de 7T à 9,999T </td></tr>
		<tr><td>R10 </td><td>Remorque de 10T à 15,999T </td></tr>
		<tr><td>TA </td><td>Tracteur Agricole </td></tr>
		<tr><td>TV </td><td>Taxi Ville </td></tr>
		<tr><td>TBE </td><td>Taxi Be </td></tr>
		<tr><td>CU </td><td>Car Urbain </td></tr>
		<tr><td>CSUB </td><td>Car Sub Urbain </td></tr>
		<tr><td>VL </td><td>Voiture de louage </td></tr>
		<tr><td>TPP </td><td>Transport Privé de Personne </td></tr>
		<tr><td>AE </td><td>Auto Ecole </td></tr>


	</table>

</div>
