easy_admin:
  entities:

    DgWord:
      class: App\Entity\DgWord
      label: "Mot du DG"
      form:
        fields:
          - dg
          - {property: 'word', type: 'text_editor'} 

      list:
        collapse_actions: true
        actions: ['show', 'edit', 'delete']
        batch_actions: ['delete']
        title: "Liste mots DG "
        fields: [ 'word', 'dg']

      show:
        fields:
          - dg
          - word
